html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Title
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
    include style.html    
  body
    - var data = require("./data.json")
    div(class="container-fluid")
      div(class="row h-100" style={position:'relative'})
        
          
        div(class="col-md-4" id="list-container")
          nav(class="navbar navbar-dark p-0" id="sidebar")
            div(class="sticky-top text-white navbar" id="filter")
              
              ul(class="nav nav-pills nav-justified")
                li(class="nav-item")
                  a(class="nav-link active" href="#") Hepsi
                li(class="nav-item")
                  a(class="nav-link " href="#") FAAL
                li(class="nav-item")
                  a(class="nav-link " href="#") TERK
                li(class="nav-item")
                  a(class="nav-link " href="#") ONAY
            div(class="list-group w-100" id="list")
              each bayi in data.bayiler
                a(href="javascript:;"
                  class="list-group-item list-group-item-action bayi-list-item text-nowrap"
                  id= bayi.ruhsatNo
                  rel="bayiler"
                  data-info= JSON.stringify(bayi)) #[span(class="badge badge-secondary badge-pill" style={width:'50px'}) #{bayi.tip}] #{bayi.unvan}
        div(class="col-md-8 col-sm-12 map-container")
            //- i(class="fa fa-camera-retro") i
            div(id="map")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4f9jG3LJAqo4qcwg5KV8WnxwNZhKAQT0&")
    script(src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js")